<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaC-Movies, Películas y Series Online</title>
    <!--Favicon-->
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!--zona scrip-->

    <script src="https://kit.fontawesome.com/fa04600604.js" crossorigin="anonymous"></script>




<body>
    <header>
        <nav>
            <!-- espacio del logo -->
            <a href="../index.html"><i class="fa-solid fa-film"></i>CaC-Movies</a>
        </nav>

    </header>
    <!-- seccion prinsipal de register -->
    <main>

    </main>
    <!-- zona de pie de pagina   -->
    <footer>
        <a href="./templates/register.html" download="nombre_personalizado.html">Descarga del archivo</a>&nbsp;&nbsp;
        <a href="">Terminos y condisiones</a>&nbsp;&nbsp;
        <a href="#">Ayuda</a>&nbsp;&nbsp;
        <a href="#">Administrador de peliculas</a>&nbsp;&nbsp;

    </footer>

</body>

</html>