/* Importacion de fuente googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
*{
    box-sizing: border-box;
}
body {
    margin: 0;
<<<<<<< HEAD
    font-family: Arial, sans-serif;
=======
    /* font-family: Arial, sans-serif; */
    font-family: "Montserrat", sans-serif;
>>>>>>> Norman-Capcha
    background-color: #8dbcbc;
}


header {
    background-color: #88b3f3;
    color: #fff;
    border-bottom: 2px solid #fff; 
}

.Marca {
    width: 70px;
    height: 70px;
    background-image: url(../static/img/avion.jpg);
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    background-position: left center;
}

nav {
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    align-items: center;
    padding: 0px 20px;

    
    
    
}

nav a {
    color: #141414;
    text-decoration: none;
    display: flex;
    color: #137ca8;
    font-size: 1.7rem;
    font-weight: 550;
    align-items: center;
<<<<<<< HEAD
    padding: 10px 0px;
    transition: color 0.3s; /* Agregar una transición para el color del texto */
    
}

nav a:hover {
    color: #f8f8f8; /* Cambiar el color del texto al pasar el mouse */
}

nav ul {
    justify-content:flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li:not(:last-child) {
    margin-right: 40px; /* Reducir el espacio entre los elementos de la lista */
}

/* Estilos para los elementos de menú desplegable */
li.dropdown {
    position: relative;
<<<<<<< HEAD
    
}

.dropdown > a {
    display: block;
    padding: 10px;
    color: #141414;
    text-decoration: none;
}

.dropdown:hover .sub-menu {
    display: block;
=======
    display: flex;
>>>>>>> Norman-Capcha
}

.sub-menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Ajustar la posición vertical */
    left: 0;
    background-color: #9d9195;
    width: 280px;
    padding: 10px;
    border-radius: 5px; /* Agregar bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Agregar sombra */
    z-index: 10;
=======
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 10;
}
.dropdown:hover .sub-menu {
    display: block;
>>>>>>> Norman-Capcha
}

.sub-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 8px 16px;
    transition: background-color 0.3s; 
}

.sub-menu a:hover {
    background-color: #666; /* Cambiar el color de fondo al pasar el mouse */
}






