/* Importacion de fuente googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* configuracion de variables */
:root{
    --primary-color: #7aacf5;
    --secondary-color:#fdede3;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    /*colores de fondo*/
    --bg-color:#181419;
    --bg-input-color:#2f1b352c;
    /*fuente primaria*/
    --primary-font: Arial, sans-serif;
    --fuente-oscura:#031a25;
    --primary-color-btm-hover: #719cdd;
    --primary-color-btm-active: #668bc4;
}

/* Estilos generales */
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #8dbcbc;
}

header {
    position: fixed;
    z-index: 2;
    width: 100vw;
    padding: 15px 0px; /* Añadir un poco de espacio en los extremos */
}
.initial{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, transparent 100%);
}
.scroll {
    background-color: var(--primary-color);
    /* background-color: #4781d9; */
}
.container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px; 
}

a.logo {
    display: flex;
    color: #137ca8;
    font-size: 1.7rem;
    align-items: center;
}
a.logo span {
    font-weight: 600;
}
.marca {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../static/img/avionPNG.png);
    background-size: cover;
    vertical-align: middle;
    margin-right: 7px;     
} 
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav > ul > li:not(:last-child) {
    margin-right: 30px; 
    align-items: center; /* no hace nada */
}
nav a {
    /* color: rgb(240, 236, 236); */
    color: #031a25;
    color: var(--fuente-oscura);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 550;   
    transition: color 0.3s;
}

nav a:hover {
    color: #504e4e; 
}

/* Estilos para los elementos de menú desplegable */
li.dropdown {
    position: relative;
    display: flex;
}

.sub-menu {
    display: none;
    position: absolute;
    top: calc(100%); 
    left: 0;
    background-color: #9d9195;
    width: 280px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 10;
}
.dropdown:hover .sub-menu {
    display: block;
}

.sub-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-weight: 550;
    transition: background-color 0.3s; 
}

.sub-menu a:hover {
    background-color: #666; 
} 
/* termina el header */

/* empieza el main */
/*comienza el portada */
#banner {
    /* Estilos para el banner */
    position: relative;
    height: 100vh; /* Ajusta la altura según sea necesario */

}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../static/img/portada.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.9; /* Ajusta la opacidad según sea necesario */
}


.banner_content {
    /* Estilos para el contenido dentro del banner */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(209, 202, 202); /* Color del texto */
    text-align: center; /* Alineación del texto */
    font-family: "Dancing Script", sans-serif; /* Familia de fuente */
    font-size: 24px; /* Tamaño de la fuente */
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Sombra de texto */
}
.button {
    /* Convertir elementos de bloque en línea */
    display: inline-block;
    
    /* Propiedades del contenedor */
    padding: 5px 10px; /* Reducir el padding */
    background-color: var(--primary-color); /* Cambiar el color de fondo a rojo */
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.7rem; /* Reducir el tamaño de la fuente */
    border-radius: 10px; /* Agregar bordes redondos */
}
.button:hover{
    background-color: rgb(143, 130, 130);
  }
  /* Animación para enfatizar el cambio de color 
  lo definimos con @keyframe luego le damos un nombre "pulse"*/
  @keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
  }
  .button:hover{
    animation: pulse 0.5s infinite alternate;
  }
/*termina el portada*/
/*comienza seccion de busqueda*/
.que_visitas {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 35px 0px 55px;
    font-family: "Montserrat", sans-serif;
}
.que_visitas form {
    display: flex;
    align-items: center;
    background: #4b6161;
    border-radius: 20px;
}
.que_visitas h3 {
    display: block;
    margin: 0px 20px 0px 0px;
    /* padding: 5px 0; */
    color: var(--fuente-oscura);
    font-size: 2rem;
    font-weight: 580;

    color: rgb(209, 202, 202);
    /* text-align: center; */
    font-family: "Dancing Script", sans-serif;
    /* font-size: 24px; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.input-buscador{
    height: 100%;
    min-width: 200px;
    width: 40vw;
    border: 0px;
    outline: none;
    font-size: 1.5rem;
    font-weight: 400;
    background: transparent;
    padding: 10px 20px;
    /* border: 2px solid #4a4a4a; */
    /* border-radius: 10px; */
}
.boton-buscador{
    height: 1.7rem;
    font-size: 1.1rem;
    background: var(--primary-color);
    padding: 0px 10px;
    margin-right: 15px;
    border: 0px;
    border-radius: 15px;
    color: var(--fuente-oscura);
}
.boton-buscador:hover {
    background: var(--primary-color-btm-hover);
}
.boton-buscador:active {
    background: var(--primary-color-btm-active);
}
/*termina seccion de busqueda*/
/* Empieza el footer */
footer {
    display: flex;
    background-color: var(--primary-color);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}
footer a {
    text-decoration: none;
    color: var(--fuente-oscura);
    font-size: 0.85rem;
}
footer a:hover {
    text-decoration: underline;
}
.redes {
    display: inline-block;
    justify-content: space-between;
    /* width: 400px; */
    /* background: grey; */
}
.container-a {
    display: flex;
    justify-content: space-evenly;
}
.container-a a {
    display: block;
}

.redes p {
    margin-top: 0px;
    margin-bottom: 10px;
}
/* Termina el footer  */
#cordoba {padding-bottom: 100px; }
#mendoza {padding-bottom: 100px; }
#misiones {padding-bottom: 100px;}
#areco {padding-bottom: 100px; }
#sanPedro {padding-bottom: 100px; }
#baraderos {padding-bottom: 100px;}


.lugar_content {
    
    color: rgb(209, 202, 202);
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#lugar-actividad {
    display: flex; /* Establece el contenedor como un flex container */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */
    justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del contenedor */
  }
  
  .lugar {
    flex-basis: calc(25% - 20px); /* Establece el tamaño base de los elementos a 25% menos el espacio entre ellos */
    margin-bottom: 20px; /* Agrega un margen inferior para separar los elementos */
  }
  
  .lugar img {
    width: 300px; /* Ancho en píxeles */
    height: 200px; /* Altura en píxeles */
    object-fit: cover; /* Escala la imagen para que ocupe toda su caja manteniendo su relación de aspecto */
    margin-right: 10px; /* Margen derecho entre las imágenes */
  }

  
@media only screen and (max-width: 850px) {
    header {
        padding: 10px 15px; 
    }
    
    a.logo {
        font-size: 1.4rem;
    }

    .marca {
        width: 30px;
        height: 30px;
        
    }
    nav {
        flex-direction:column-reverse; 
    }

    .brand {
        order: 1; /* Mueve la marca al principio de la columna */
        margin-bottom: 10px; /* Espaciado entre la marca y los elementos de navegación */
    }

    ul {
        order: 2; /* Mueve la lista de navegación después de la marca */
    }
   
    .lugar {
        flex-basis: calc(50% - 10px);
    }

    nav ul li:not(:last-child) {
        margin-right: 0px; /* Reducir el espacio entre elementos de la lista */
    }
}


@media only screen and (max-width: 450px) {
    .lugar {
        flex-basis: calc(100% - 10px);
    }
}

/* .bodyRegistrarse {
    content: ""; */
/* Asegura que los elementos absolutos sean relativos a este contenedor */
    /* position: relative; 
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../static/img/portada.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    opacity: 0.9; 
} */

/* .bodyRegistrarse .main .seccionRegistrarse {
    background-color: #9d9195;
    opacity: 0.8;  */
    /* Ajusta la opacidad */
    /* width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-size: 1.2rem;
}

.bodyRegistrarse .main .seccionRegistrarse form input:not(.check, .boton), 
.bodyRegistrarse .main .seccionRegistrarse form select {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid #a4acf7;
    background-color: #333333;
    outline: none;
    color: rgb(255, 255, 255);
}

.bodyRegistrarse .main .seccionRegistrarse form .error-text {
    color: #475fc7;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bodyRegistrarse .main .seccionRegistrarse form .terminos {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bodyRegistrarse .main .seccionRegistrarse form .terminos .textoCheck {
    margin-left: 10px;
}

.bodyRegistrarse .main .seccionRegistrarse  .boton {
    width: 87%;
    box-sizing: content-box;
    background-color:  #a4acf7;
    border: 2px solid  #a4acf7;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
}
#registroExitoso {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #a4acf7;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */
















